* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url(elements/bg.png);
  font-family: "Helvetica";
  font-size: 13px;
  color: #505050;
}
.containergen {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  width: 994px;
  box-shadow: 0 0 3px 2px #505050;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  padding-bottom: 25px;
}
.loupe a {
  background-color: #d3d3d3;
  padding: 4px 10px 0 10px;
  float: right;
  margin-top: 80px;
}
a {
  color: #505050;
}
h1 {
  display: inline-flex;
  padding-top: 50px;
  font-size: 52px;
  font-family: "Terminal Dosis";
}
h2 {
  padding-top: 38px;
  font-size: 28px;
  font-family: "Terminal Dosis";
}
.menu {
  background-color: #d3d3d3;
  width: 100%;
  height: 59px;
  border-top: 2px solid #a6a6a6;
  border-bottom: 2px solid #a6a6a6;
  margin: 25px 0;
}
.menu ul {
  list-style-type: none;
  text-align: center;
}
.menu li {
  display: inline-block;
}
.menu li a {
  display: block;
  width: 115px;
  text-decoration: none;
  padding: 21px 10px;
}

/*.menu li a:hover {
  color: #FFD700;
}*/

.menu ul li ul {
  display: none;
}
.menu li li a {
  padding: 10px;
  background-color: #d3d3d3;
}
.menu ul li:hover ul {
  display: block;
}
.menu li:hover ul li {
  display: block;
}
.menu li ul {
  position: absolute;
}
.titre2 {
  text-align: center;
}
.titre2 p {
  padding-top: 22px;
}
.paragraphes p {
  padding-top: 30px;
}
.cadre {
  background-color: #d3d3d3;
  width: 100%;
  height: 40px;
  border-top: 2px solid #a6a6a6;
  border-bottom: 2px solid #a6a6a6;
  margin: 30px 0;
}
.older {
  text-align: center;
  padding-bottom: 30px;
}
.tableau {
  display: inline-flex;
  background-color: #d3d3d3;
  width: 100%;
  height: 235px;
  border-top: 2px solid #a6a6a6;
}
.posts, .comments, .archives, .categories {
  width: 25%;
  padding: 15px;
}
h3 {
  padding-bottom: 15px;
}
